@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
}

.headerContainer {
    background: rgb(120,110,100);
    font-family: 'Orbitron', sans-serif;
    height: 45px;
}

.logo {
    margin: 0;
    padding: 4px 0 0 5px;
    float: left;
    height: 40px;
    width: 40px;
}

.header {
    padding: 12px 0 0 8px;
    float: left;
    font-size: 1.25em;
}

.title {
    padding: 15px 0 0 20px;
    color: rgb(160,0,0);
    float: left;
    font-size: 1em;
}

.repo {
    padding: 15px 10px 0 0;
    color: rgb(0,0,0);
    float: right;
    font-size: .8em;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 45px;
    height: 100%;
    width: 100%;
}

map-layers ul.layers {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    left: 10px;
    top: 160px;
}

map-layers ul.layers div {
    display: block;
    padding: 5px 0 5px 40px;
    background: rgb(160,150,140);
    border: 1px solid rgb(187,187,187);
    border-bottom-width: 0;
    color: rgb(60,75,90);
    cursor: pointer;
    font-size: 0.95em;
    text-decoration: none;
    width: 85px;
}

map-layers ul.layers div:hover {
    background: rgb(140,130,120);
}

map-layers ul.layers li:first-child div {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

map-layers ul.layers li:last-child div {
    border-bottom-width: 1px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

map-layers ul.layers li.biosphere div.active,
map-layers ul.layers li.office div.active,
map-layers ul.layers li.places div.active,
map-layers ul.layers li.trails div.active
/*map-layers ul.layers li.aerialView div.active*/
{
    background: rgb(120,110,100);
}

map-layers div.biosphereIcon {
    position: absolute;
    left: 22px;
    top: 166px;
}

map-layers div.officeIcon {
    position: absolute;
    left: 22px;
    top: 194px;
}

map-layers div.placesIcon {
    position: absolute;
    left: 22px;
    top:223px;
}

map-layers div.trailsIcon {
    position: absolute;
    left: 22px;
    top: 252px;
}

map-trails select.trails {
    position: absolute;
    border-style: none;
    left: 10px;
    top: 320px;
    width: 127px;
}

div.office {
    background-image: url('/images/office.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.places {
    background-image: url('/images/places.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.trails {
    background-image: url('/images/trails.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    bottom: 45px;
}

.mapboxgl-popup {
    max-width: 250px;
}
