@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
}

.headerContainer {
    background: rgb(120,110,100);
    font-family: 'Orbitron', sans-serif;
    height: 45px;
    width: 100%;
}

.logo {
    margin: 0;
    padding: 4px 0 0 5px;
    float: left;
    height: 40px;
    width: 40px;
}

.name {
    padding: 12px 0 0 8px;
    float: left;
    font-size: 1.25em;
}

.title {
    padding: 15px 0 0 20px;
    color: rgb(160,0,0);
    float: left;
    font-size: 1em;
}

.repo {
    padding: 15px 10px 0 0;
    color: rgb(0,0,0);
    float: right;
    font-size: .8em;
}

.mapContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

splash-screen div {
    position: absolute;
    background: rgba(0,0,0,.5);
    visibility: hidden;
    z-index: 1;
    height: 100%;
    width: 100%;
}

splash-screen div.active,
splash-screen div.visible {
    visibility: visible;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

map-layer ul.layers {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    left: 10px;
    top: 120px;
}

map-layer ul.layers div {
    display: block;
    padding: 5px 0 5px 40px;
    background: rgb(160,150,140);
    border: 1px solid rgb(187,187,187);
    border-bottom-width: 0;
    color: rgb(60,75,90);
    cursor: pointer;
    font-size: 0.95em;
    text-decoration: none;
    width: 90px;
}

map-layer ul.layers div:hover {
    background: rgb(140,130,120);
}

map-layer ul.layers li:first-child div {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

map-layer ul.layers li:last-child div {
    border-bottom-width: 1px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

map-layer ul.layers li.terrain div.active,
map-layer ul.layers li.biosphere div.active,
map-layer ul.layers li.office div.active,
map-layer ul.layers li.places div.active,
map-layer ul.layers li.trails div.active {
    background: rgb(120,110,100);
}

map-layer div.biosphere-icon {
    position: absolute;
    left: 22px;
    top: 155px;
}

map-layer div.office-icon {
    position: absolute;
    left: 22px;
    top: 183px;
}

map-layer div.places-icon {
    position: absolute;
    left: 22px;
    top:212px;
}

map-layer div.trails-icon {
    position: absolute;
    left: 22px;
    top: 241px;
}

map-trail select.trails {
    position: absolute;
    border-style: none;
    left: 10px;
    top: 310px;
    width: 132px;
}

div.office-marker {
    background-image: url('/images/office.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.places-marker {
    background-image: url('/images/places.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.trails-marker {
    background-image: url('/images/trails.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    bottom: 45px;
}

.mapboxgl-popup {
    max-width: 250px;
}
