@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.headerContainer {
    background: rgb(120,110,100);
    font-family: 'Orbitron', sans-serif;
    height: 45px;
}

.logo {
    margin: 0;
    padding: 4px 0 0 4px;
    float: left;
    height: 40px;
    width: 40px;
}

.header {
    padding: 12px 0 0 8px;
    float: left;
    font-size: 1.25em;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 45px;
    height: 100%;
    width: 100%;
}

map-layers ul.map-ui {
    position: absolute;
    margin: 0;
    padding: 0;
    background: transparent;
    list-style-type: none;
    left: 10px;
    top: 160px;
}

map-layers ul.map-ui a {
    display: block;
    padding: 5px 0 5px 40px;
    background: rgb(160,150,140);
    border: 1px solid #bbb;
    border-bottom-width: 0;
    color: #3c4e5a;
    font-size: 0.95em;
    text-decoration: none;
    width: 85px;
}

map-layers ul.map-ui a:hover {
    background: rgb(140,130,120);
}

map-layers ul.map-ui li:first-child a {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

map-layers ul.map-ui li:last-child a {
    border-bottom-width: 1px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

map-layers ul.map-ui li.region a.active,
map-layers ul.map-ui li.office a.active,
map-layers ul.map-ui li.places a.active,
map-layers ul.map-ui li.trails a.active
/*map-layers ul.map-ui li.aerialView a.active*/
{
    background: rgb(120,110,100);
}

map-layers div.regionMarker {
    position: absolute;
    left: 22px;
    top: 166px;
}

map-layers div.officeMarker {
    position: absolute;
    left: 22px;
    top: 194px;
}

map-layers div.placeMarker {
    position: absolute;
    left: 22px;
    top:223px;
}

map-layers div.trailMarker {
    position: absolute;
    left: 22px;
    top: 252px;
}

map-trails select.trails {
    position: absolute;
    background: #eee;
    border-style: none;
    left: 10px;
    top: 320px;
    width: 127px;
}

div.office_marker {
    background-image: url('/images/office.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.place_marker {
    background-image: url('/images/place.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

div.trail_marker {
    background-image: url('/images/trail.png');
    cursor: pointer;
    height: 25px;
    width: 22px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    bottom: 45px;
}

.mapboxgl-popup {
    max-width: 250px;
}
