@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#headerContainer {
    background: rgb(120,110,100);
    font-family: 'Orbitron', sans-serif;
    height: 45px;
}

    .logo {
        float: left;
        margin: 0;
        padding: 4px 0 0 4px;
        height: 40px;
        width: 40px;
    }

    .header {
        float: left;
        font-size: 1.25em;
        padding: 16px 0 0 8px;
    }

#mapContainer {
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 45px;
    height: 100%;
    width: 100%;
}

#map-ui {
    position: absolute;
    margin: 0;
    padding: 0;
    background: transparent;
    list-style-type: none;
    left: 12px;
    top: 100px;
}

#map-ui a {
    display: block;
    background: rgb(160,150,140);
    border: 1px solid #bbb;
    border-bottom-width: 0;
    color: #3c4e5a;
    font-size: 0.95em;
    padding: 5px 0 5px 40px;
    text-decoration: none;
    width: 85px;
}

#map-ui a:hover {
    background: rgb(120,110,100);
}

#map-ui li:first-child a {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

#regionMarker {
    position: absolute;
    left: 22px;
    top: 106px;
}

#officeMarker {
    position: absolute;
    left: 22px;
    top: 134px;
}

#placeNameMarker {
    position: absolute;
    left: 22px;
    top: 163px;
}

#trailMarker {
    position: absolute;
    left: 22px;
    top: 193px;
}

#trailList {
    position: absolute;
    background: #eee;
    border-style: none;
    right: 12px;
    top: 58px;
    width: 120px;
}

.leaflet-bottom.leaflet-right {
    bottom: 45px;
}

.leaflet-popup-content-wrapper {
    width: 225px;
}
